<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<head>
	<TITLE>Dashboard</TITLE>
	</head>
<h:body>
	<ui:composition template="/layouts/mainLayout.xhtml">
		<ui:define name="content">
		HEC DASHBOARD
		</ui:define>
	</ui:composition>
</h:body>
</html>
