<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition>
	<section id="main-content">
      <div class="text-right">
        <div class="credits">
          Presented in <a href="https://example.com/">AUCA</a>
        </div>
      </div>
    </section>
	</ui:composition>
</body>
</html>